@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
.sidebar-wrapper { background-color: #191919; flex: 0 0 180px; z-index: 2; }

.flex-topbar { display: flex; width: 100%; }

.logo { margin: 10px; color: white; margin-bottom: 0; }

.logo-flex { display: flex; align-items: center; align-content: space-around; }

.hamburger { font-size: 25px; color: white; margin-left: 10%; display: none; }

nav { width: 100%; }

.sidebar { background-color: #191919; height: 100%; position: fixed; width: 180px; top: 0; left: 0; }

.sidebar nav ul { list-style-type: none; vertical-align: center; color: #616161; padding-inline-start: 0px; width: 100%; margin-top: 0; }

.sidebar nav ul li svg { width: 20px; height: 20px; position: absolute; fill: #616161; }

.sidebar ul li { border-left: 5px solid transparent; padding: 10px; }

.sidebar ul li span { margin-left: 35px; font-family: "Open Sans", sans-serif; }

.sidebar li:hover { background-color: #282828; border-left: 5px solid #F58220; color: #BEBEBE; fill: #BEBEBE; cursor: pointer; }

.sidebar li:hover svg { fill: #BEBEBE; }

/*Manager sidebar */
.border-sidebar { border-top: 1px solid #616161; }

.manager-sidebar { color: #616161; padding: 20px; }

.manager-sidebar img { border-radius: 50%; width: 50px; }

.manager-sidebar span { color: #517893; margin-left: 10%; }

.manager-sidebar-flex { display: flex; align-content: space-between; align-items: center; }

.topbar { right: 0; display: flex; justify-content: flex-end; flex: 1; position: fixed; width: 100%; height: 60px; background-color: #fff; z-index: 1; }

.topbar svg { height: 20px; width: 20px; fill: #858585; }

.topbar ul { list-style-type: none; display: -webkit-flex; display: flex; margin: 0; }

.topbar ul li { display: flex; align-items: center; padding: 10px 20px; border-left: 2px solid #F5F5F2; }

.topbar .arrow-down { height: 15px; }

.topbar-icon { margin: 0 10px; color: #B1B1B1; }

.topbar-cash { font-size: 20px; color: #858585; padding-left: 15px; padding-right: 15px; }

.topbar-name { color: #3581b8; padding-left: 15px; }

.content-wrapper { flex: auto; margin-top: 60px; }

.content-chart { background: #fff; flex: 1 1; margin: 15px; }

.head-content { font-size: 18px; border-bottom: 1px solid #B1B1B1; width: 100%; padding: 1%; color: #b9b7b7; }

.calendar { width: 15px; height: 15px; fill: #858585; }

.date { width: 350px; height: 40px; border: 1px solid #858585; margin-top: 5%; border-radius: 3px; }

.date span { padding-right: 20%; line-height: 40px; padding-left: 2%; }

.first-date { border-right: 1px solid #B1B1B1; }

.second-date { padding-left: 5%; }

.refresh { height: 20px; }

.choosing-date { display: flex; justify-content: center; align-items: center; border-bottom: 1px solid #B1B1B1; padding-bottom: 3%; }

.choosing-date button { display: flex; justify-content: center; align-items: center; margin-top: 5%; height: 40px; width: 40px; margin-left: 2%; background-color: #F58220; border-radius: 5%; border: 2px solid #F58220; }

.choosing-date button svg { fill: white; }

/* content datas */
.data { max-width: 100%; display: flex; justify-content: center; padding: 1% 20%; }

.data span:last-child { color: black; }

.data span { padding-bottom: 8px; border-bottom: 1px solid #B1B1B1; color: #9c9a9a; }

.single-data { width: 100%; display: flex; justify-content: center; }

.word-data { width: 100%; }

.right-data { padding-left: 15%; }

.data-one { padding-top: 4%; }

/* chart */
.chart { max-width: 100%; justify-content: center; padding: 5% 20%; color: #9c9a9a; }

.chart button { width: 100%; margin: 5% 4%; display: flex; align-content: center; background: white; border: 0; }

.chart button div span { color: #9c9a9a; }

.chart button:hover { background: #dad8d8; }

.chart-buttons { display: flex; justify-content: center; color: #9c9a9a; }

.chart-buttons button div { margin: 10px; }

.chart button:hover div span { color: #3581b8; }

.button-circle { border-radius: 50%; width: 20px; height: 20px; display: inline-block; }

.blue-button { background-color: #80BFCA; }

.orange-button { background-color: #FF9A38; }

.green-button { background-color: #62d67d; }

.chart-photo { width: 100%; display: flex; justify-content: center; }

.chart-photo img { width: 100%; }

.container { width: 100%; max-width: 1170px; margin: 0 auto; padding-left: 15px; padding-right: 15px; }

.container-fluid { width: 100%; padding-left: 15px; padding-right: 15px; }

.row { display: flex; flex-wrap: wrap; }

html { height: 100%; }

* { box-sizing: border-box; font-family: "Open Sans", sans-serif; }

button:hover { cursor: pointer; }

body { margin: 0 auto; max-width: 100%; height: 100%; color: #0E0E0E; background-color: #f4f4f1; font-family: "Open Sans", sans-serif; }

.wrapper { display: flex; height: 100vh; }

.links-wrapper { background: #fff; flex: 1 1; margin: 15px; height: auto; }

.links-wrapper svg { width: 15px; height: 14px; }

.button-links { display: flex; justify-content: center; margin-bottom: 20px; }

.button-links button { height: 32px; width: 110px; margin-top: 30px; background-color: #F58220; border-radius: 5%; border: 2px solid #F58220; }

.button-links button span { color: white; font-size: 20px; }

.content-links { margin: 0 auto; width: 70%; margin-top: 18px; }

.first-link { border-top: 1px solid #b1b1b1; }

.link { display: flex; width: 100%; justify-content: space-between; padding: 15px 0; border-bottom: 1px solid #b1b1b1; }

.link div { width: 40%; }

.link div:first-child { color: #9c9a9a; font-weight: bold; padding-left: 15px; }

.link div:last-child { text-align: center; width: 10%; }

.link a { text-decoration: none; word-wrap: break-word; }

.link svg { margin: 0 5px; display: none; }

.link:hover { background-color: #F1F3F3; }

.link:hover svg { display: inline; }

.svg-links { fill: #F58220; }

.svg-trash { fill: #a7a4a4; }

.end-button { padding-bottom: 40px; }

@media (max-width: 767px) { .col-sm-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-sm-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-sm-3 { flex: 0 0 25%; max-width: 25%; }
  .col-sm-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-sm-5 { flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-sm-6 { flex: 0 0 50%; max-width: 50%; }
  .col-sm-7 { flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-sm-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-sm-9 { flex: 0 0 75%; max-width: 75%; }
  .col-sm-10 { flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-sm-11 { flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-sm-12 { flex: 0 0 100%; max-width: 100%; }
  .sidebar { width: 100%; height: 62px; }
  .sidebar ul { display: none; margin: 0; }
  .manager-sidebar { display: none; }
  .sidebar-wrapper { height: 62px; }
  .logo-flex { display: flex; justify-content: space-around; }
  .wrapper { display: block; margin-bottom: 100px; }
  .topbar { display: flex; justify-content: center; bottom: 0; border-top: 2px solid #F5F5F2; }
  .content-wrapper { margin: 0; margin-bottom: 76px; }
  .content-links { width: 100%; margin: 0; padding: 0 30px; }
  .link svg { display: inline; }
  .sidebar.show .sidebar { height: auto; position: relative; }
  .sidebar.show ul { background-color: #191919; display: flex; flex-direction: column; padding-left: 10vw; }
  .sidebar.show ul li { display: flex; background-color: #191919; position: relative; }
  .sidebar.show .manager-sidebar { display: flex; background-color: #191919; justify-content: space-around; }
  .date span { padding-right: 15%; }
  .hamburger { display: block; cursor: pointer; }
  .topbar .user-name { display: none; }
  .chart button { margin: 5% 0; font-size: 15px; line-height: 14px; }
  .chart-buttons button div { margin: 1px; }
  .button-circle { height: 15px; width: 15px; }
  .chart { padding: 5% 12%; } }

@media (min-width: 768px) { .col-md-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-md-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-md-3 { flex: 0 0 25%; max-width: 25%; }
  .col-md-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-md-5 { flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-md-6 { flex: 0 0 50%; max-width: 50%; }
  .col-md-7 { flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-md-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-md-9 { flex: 0 0 75%; max-width: 75%; }
  .col-md-10 { flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-md-11 { flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-md-12 { flex: 0 0 100%; max-width: 100%; }
  .link svg { display: inline; } }

@media (min-width: 992px) { .col-lg-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-lg-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-lg-3 { flex: 0 0 25%; max-width: 25%; }
  .col-lg-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-lg-5 { flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-lg-6 { flex: 0 0 50%; max-width: 50%; }
  .col-lg-7 { flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-lg-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-lg-9 { flex: 0 0 75%; max-width: 75%; }
  .col-lg-10 { flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-lg-11 { flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-lg-12 { flex: 0 0 100%; max-width: 100%; }
  .link svg { display: none; } }

@media (min-width: 1200px) { .col-xl-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-xl-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-xl-3 { flex: 0 0 25%; max-width: 25%; }
  .col-xl-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-xl-5 { flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-xl-6 { flex: 0 0 50%; max-width: 50%; }
  .col-xl-7 { flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-xl-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-xl-9 { flex: 0 0 75%; max-width: 75%; }
  .col-xl-10 { flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-xl-11 { flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-xl-12 { flex: 0 0 100%; max-width: 100%; } }
