@import "variables";
.content-wrapper {
    flex: auto;
    margin-top: 60px;
}

.content-chart {
    background: $background;
    flex: 1 1;
    margin: 15px;
}

.head-content {
    font-size: 18px;
    border-bottom: 1px solid $border;
    width: 100%;
    padding: 1%;
    color: $content-font;
}

.calendar {
    width: 15px;
    height: 15px;
    fill: $content-font;
}

.date {
    width: 350px;
    height: 40px;
    border: 1px solid $border;
    margin-top: 5%;
    border-radius: 3px;
    span {
        padding-right: 20%;
        line-height: 40px;
        padding-left: 2%;
    }
}

.first-date {
    border-right: 1px solid $border;
}

.second-date {
    padding-left: 5%;
}

.refresh {
    height: 20px;
}

.choosing-date {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $border;
    padding-bottom: 3%;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        height: 40px;
        width: 40px;
        margin-left: 2%;
        background-color: $button;
        border-radius: 5%;
        border: 2px solid $button;
        svg {
            fill: $background;
        }
    }
}


/* content datas */

.data {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 1% 20%;
    span:last-child {
        color: black;
    }
    span {
        padding-bottom: 8px;
        border-bottom: 1px solid $border;
        color: $content-font;
    }
}

.single-data {
    width: 100%;
    display: flex;
    justify-content: center;
}

.word-data {
    width: 100%;
}

.right-data {
    padding-left: 15%;
}

.data-one {
    padding-top: 4%;
}


/* chart */

.chart {
    max-width: 100%;
    justify-content: center;
    padding: 5% 20%;
    color: $content-font;
    button {
        width: 100%;
        margin: 5% 4%;
        display: flex;
        align-content: center;
        background: white;
        border: 0;
        div span {
            color: $content-font;
        }
    }
    button:hover {
        background: rgb(218, 216, 216);
    }
}

.chart-buttons {
    display: flex;
    justify-content: center;
    color: $content-font;
    button div {
        margin: 10px;
    }
}

.chart button:hover div span {
    color: #3581b8;
}

.button-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.blue-button {
    background-color: #80BFCA;
}

.orange-button {
    background-color: #FF9A38;
}

.green-button {
    background-color: rgb(98, 214, 125);
}

.chart-photo {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
        width: 100%;
    }
}