@import "variables";
.links-wrapper {
    background: $background;
    flex: 1 1;
    margin: 15px;
    height: auto;
    svg {
        width: 15px;
        height: 14px;
    }
}

.button-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    button {
        height: 32px;
        width: 110px;
        margin-top: 30px;
        background-color: $button;
        border-radius: 5%;
        border: 2px solid $button;
        span {
            color: $background;
            font-size: 20px;
        }
    }
}

.content-links {
    margin: 0 auto;
    width: 70%;
    margin-top: 18px;
}

.first-link {
    border-top: 1px solid $border;
}

.link {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid $border;
    div {
        width: 40%;
    }
    div:first-child {
        color: $content-font;
        font-weight: bold;
        padding-left: 15px;
    }
    div:last-child {
        text-align: center;
        width: 10%;
    }
    a {
        text-decoration: none;
        word-wrap: break-word;
    }
    svg {
        margin: 0 5px;
        display: none;
    }
}

.link:hover {
    background-color: $background;
    svg {
        display: inline;
    }
}

.svg-links {
    fill: $button;
}

.svg-trash {
    fill: $content-font;
}

.end-button {
    padding-bottom: 40px;
}